form(method='post', action='/comment')
  p
    label Title URL:
    input(type='text', name='title',value='#{title}', size='100' )

  p
    textarea(rows='4', cols='80')

  P
    input(type='submit', value='comment')
